:root{
   /* colors */
   --red:#B24C63;
   --wite:#F5EBE0;
   --blue:#031D44;
   --or:#FAC9B8;
   --sky:#B4D6D3;
   --green:#92AD94;
}
/* remember start with the general, not to much classes, and add comments */
/* general styling mobile first */
body{
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
}
.wrapper{
   width: 85%;
   margin: auto auto;
   padding:30px 0;
}

a{
   text-decoration: none;
}
h1{
   font-family: 'Merienda', cursive;
}
h2{
   font-family: 'Amatic SC', cursive;
   font-size: 30px;
}

/* about */

.about{
   background-color: var(--blue);
   color: var(--wite);
}
.about > .wrapper{
   margin-bottom: 0;
   padding-bottom: 1px;
   padding-top: 25px;
}
.about h2{
   margin-top: 0;
   margin-bottom: 20px;
   line-height: 0.95;
}
.about h1{
   margin-bottom: 8px;
   font-size: 35px;
}
/* nav bar */
.navbar{
   background-color:var(--blue);
   position: sticky;
   top: 0;
   right: 0;
}
.navbar > .wrapper{
   /* margin: 0 auto; */
   padding:6px 0;
   width:100%;
   display: flex;
   justify-content: center;
}
nav > ul{
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
nav li{
   /* margin:2px 2px; */
   display: flex;
}
nav a{
   background-color: var(--sky);
   color: var(--blue);
   margin:1.5px;
   padding: 5px;
   border-radius: 50px;
   font-size: 13.6px;
}
nav a:hover, nav a:active{
   background-color: var(--or);
   color: #000;  
}
/* Work Experience */
.work{
   background-color: var(--sky);
}
/* Featured Projects */
.projects{
   background-color: var(--wite);
}
/* Technical and Soft Skills */
.skills{
   background-color: var(--or);
}
/* Readings and intrests */
.readings{
   background-color: var(--wite);
}
/* tinkering and random mini projects */
.tinkering{
   background-color: var(--sky);
}
/* Education */
.education{
   background-image: url(../images/olia-gozha-J4kK8b9Fgj8-unsplash.jpg);
}
/* A Side Of My Personal Life */
.life{
   background-color: var(--or);
}
/* Contact me */
.contact{
   background-color: var(--blue);
   color: var(--wite);
}
.contact > .wrapper{
   padding-bottom: 6px;
   padding-top: 6px;
}
footer > ul{
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;

}
.contact a{
   color:var(--or);
   display: inline-block;
   margin-bottom: 5px;
   padding:5px;
   line-height: 1.3;
}

/* special for pc visitor */
@media screen and (min-width:550px){

/* general styling pc */
/* about */
.wrapper{
   max-width: 800px;
}
/* Work Experience */
/* Featured Projects */
/* Technical and Soft Skills */
/* Readings and intrests */
/* tinkering and random mini projects */
/* Education */
/* A Side Of My Personal Life */
/* Contact me */
}