
{% extends "index.html" %}

{% block title %}about{% endblock %}

{% block content %}
  <div id="1" class="about">
         <div class="wrapper">
            <header>
               <h1>Ibrahim Ahmed</h1>
               <h2>Electrical&nbsp;Engineer +&nbsp;Tech&nbsp;Enthusiast</h2>
               <p> Graduated from King Fahd University of Petroleum and Minerals with B.S. degree in Applied Electrical Engineering. Holding a valid certification from Saudi Council of Engineers.I am a constant and eager leaner in science and engineering. I love programming and hardware. I have worked as maintenance engineer since dec 2021.</p>
            </header>
            <span id="2"></span>
         </div>
      </div>
{% endblock %}
